@model IEnumerable<K_Akica.API.Contracts.Models.FeedItem>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, K_AkicaWeb





@*@if (Model.Any())
        {
        <div class="fullHeight" id="feedTimeline">
            <ul class="timeline fullHeight" id="timelineMain">
                @foreach (var item in Model)
                {
                    var cls = item.Poop && item.Wizz ? " poop wizz" : item.Poop ? " poop" : item.Wizz ? " wizz" : "";

                    <li class="timeline">
                        <div class="icon @cls"></div>
                        <details class="panel">
                            <summary>@item.Timestamp.ToString("yyyy/MM/dd HH:mm:ss")</summary>
                            <p>@item.Description</p>
                        </details>
                    </li>
                }
            </ul>
        </div>
        }
    <partial name="AddFeed" model="new K_Akica.API.Contracts.Communication.FeedItemRequest()"/>*@


        <h1 class="project-name">Activity feed</h1>
    
        <div id="feedTimeline" >
            <div id="feedHolder" class="container">
                @foreach (var item in Model)
                {
                    <div class="timeline-item">
                        <div class="timeline-icon"></div>
                        <div class="timeline-content">
                            <h2>@item.Timestamp.ToString("yyyy/MM/dd HH:mm:ss")</h2>
                            <p>
                                @item.Description?.Replace(Environment.NewLine, "<br/>")
                            </p>
                        </div>
                    </div>
                }

                <div class="timeline-item">
                    <div class="timeline-icon"></div>
                    <div class="timeline-content">
                        <h2>Add new</h2>
                        <div  class="flex-column">
                            <div>
                                <div>
                                    <label>Duration:</label>
                                    <input type="time" value="10:00:00" />
                                </div>

                                <div class="toggle btn btn-success" data-toggle="toggle" style="width: 112.922px; height: 38px;"><input type="checkbox" checked="" data-toggle="toggle" data-on="Ready" data-off="Not Ready" data-onstyle="success" data-offstyle="danger"><div class="toggle-group"><label class="btn btn-success toggle-on">Ready</label><label class="btn btn-danger toggle-off">Not Ready</label><span class="toggle-handle btn btn-light"></span></div></div>

                            </div>
                            <textarea id="newDesc" />
                            <button type="submit">Save</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <partial name="AddFeed" model="new K_Akica.API.Contracts.Communication.FeedItemRequest()" />
